<h1> My Blog </h1>

<% @blog_posts.each do |blog_post| %>
  <div>
    <% if blog_post.draft? %>
      <p class="p-2 rounded bg-gray-100 text-gray-900"> Draft </p>
    <% end %>

    <h2> <%= link_to blog_post.title, blog_post_path(blog_post)%> </h2>
    <p><%= blog_post.content %></p>
    <p><%= blog_post.created_at %></p>
  </div>
<% end %>